.link-selector {
  padding: 10px 0;
}

.link-selector .input-box {
  width: 100%;
  border: 0;
  font-size: var(--font-2xl);
  color: var(--action-color-primary);
  background-color: var(--dialog-background-color);
}

.link-selector .input-box::placeholder {
  color: var(--action-color-primary);
  opacity: 0.5;
}

.link-selector .input-box:focus {
  outline: none;
}

.link-selector ul {
  list-style: none;
  max-height: 300px;
  margin: 0;
  overflow: auto;
  padding: 0;
  text-indent: 10px;
}

.link-selector li {
  line-height: 25px;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px;
}

.link-selector li:hover {
  background-color: var(--action-color-secondary);
  color: var(--color-black);
}

.link-selector .selected, .link-selector .selected:hover {
  background: var(--action-color-primary);
  color: var(--color-white);
}

.link-selector .input-container {
  display: flex;
  width: 100%;
}

/* Style the form icons */
.link-selector .icon {
  min-width: 50px;
  text-align: center;
  font-size: var(--font-2xl);
  color: var(--action-color-primary);
}

.link-selector .list-image {
  background: var(--color-white);
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  width: 16px;
  height: 16px;
}
