.ml-link-container .edit-actions {
  margin-right: 5px;
  cursor: pointer;
}

.ml-link-container:hover .edit-actions {
  font-weight: bold;
}

.ml-link-container:hover .edit-actions:hover {
  color: var(--action-color-primary);
  background-color: transparent;
}

.ml-link-container:hover .edit-actions.danger:hover {
  color: var(--action-color-danger);
  background-color: transparent;
}

