.ml-link-container .edit-actions {
  margin-right: 5px;
  cursor: pointer;
}

.ml-link-container:hover .edit-actions {
  font-weight: bold;
}

.ml-link-container:hover .edit-actions:hover {
  color: var(--action-color-primary);
  background-color: var(--color-white);
}

.ml-link-container:hover .edit-actions.danger:hover {
  color: var(--app-danger-text-color);
  background-color: var(--color-white);
}

