.ml-link-container {
  display: inline-block;
  margin: 0;
  width: 100%;
}

.ml-link-container a[draggable="true"]::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  transition: width .3s;
  background-color: var(--link-underline-color);
}

.ml-link-container a[draggable="true"]:hover::after {
  width: 100%;
}

.ml-link-items-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: normal;
  align-content: normal;
  font-size: var(--font-sm);
}

.ml-link-items-container .left {
  display: block;
  flex: 1 1 auto;
  align-self: auto;
  order: 0;
}

.ml-link-items-container .right {
  display: block;
  flex: 0 1 auto;
  align-self: auto;
  order: 0;
}

.ml-link-container a {
  color: var(--link-label-color);
  display: block;
  text-decoration: none;
}

.ml-link-container a .content {
  flex: 1;
  display: flex;
  align-items: center;
}

.ml-link-container:focus, .ml-link-container a:focus {
  text-decoration: none;
}

