.ml-link-container {
  display: flex;
  flex-flow: row nowrap;
  place-content: normal space-between;
  align-items: normal;
  font-size: var(--font-sm);
  color: var(--link-label-color);
  cursor: pointer;
}

.ml-link-container .left:has([draggable="true"])::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  transition: width .3s;
  background-color: var(--link-underline-color);
}

.ml-link-container:hover .left:has([draggable="true"])::after {
  width: 100%;
}

.ml-link-container .left {
  display: block;
  flex: 1 1 auto;
  align-self: auto;
  order: 0;
}

.ml-link-container .right {
  display: block;
  flex: 0 1 auto;
  align-self: auto;
  order: 0;
}

.ml-link-container .link-box {
  flex: 1;
  display: flex;
  align-items: center;
}
