.panel {
  margin: 5px;

  display: flex;

  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;

  /*
    By default, flex items won’t shrink below their minimum content size.
    To change this, set the min-width or min-height property
    https://stackoverflow.com/a/62459589
  */
  height: 100%;
  min-height: 0;
}

.panel section {
  flex-grow: 1;
}

.panel header .title {
  font-size: 18px;
  margin: 0 0 10px;
  text-transform: uppercase;
}

.panel footer {
  padding-bottom: 10px;
}

.footer {
  border-top: 1px solid var(--action-color-secondary);
  padding-top: 10px;
  margin-top: 10px;
}

.form-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.form-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-list > li:not(:last-child) {
  margin-bottom: 20px;
}

.form-list li > label,
.form-list li p,
.form-list li .label {
  padding: 8px;
  font-weight: 300;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.form-list > li > label,
.form-list li p,
.form-list li .label {
  flex: 1 0 120px;
  max-width: 120px;
}

.form-list > li > label + *,
.form-list > li > .label + * {
  flex: 1 0 120px;
}

.form-list li p {
  margin: 0;
}

.form-list input, .form-list textarea, .form-shortcut {
  color: black;
  font-size: 13px;
}

.form-list li input:not([type="checkbox"]),
.form-list li textarea {
  padding: 15px;
}

.form-list li input[type="color"] {
  padding: 0;
  max-width: 100px;
}

.form-shortcut {
  background-color: white;
  border: solid 1px var(--action-color-secondary);
  padding: 15px;
}

.toolbar {
  display: flex;
  flex-flow: row nowrap;
  place-content: space-between space-between;
  align-items: normal;
  width: 100%;
}

.toolbar button,
.form-button {
  padding: 8px 16px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  margin-left: 4px;
  cursor: pointer;
  border-radius: 4px;
  font-size: var(--font-sm);
}

.toolbar button:first-child,
.form-button:first-child {
  margin-left: 0;
}

.toolbar button:disabled {
  opacity: 0.3;
}

.toolbar-left {
  display: block;
  flex: 1 1 auto;
  align-self: auto;
  order: 0;
}

.toolbar-right {
  display: block;
  flex: 0 1 auto;
  align-self: auto;
  order: 0;
}
