@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --app-backgrond-color: #666;
  --box-shadow-color1: rgba(0, 0, 0, .2);
  --box-shadow-color2: rgba(255, 255, 255, .7);

  --link-label-color: #444;
  --link-key-background: #eee;
  --link-key-color: #333;
  --link-label-font-size: 0.875em;
  --link-underline-color: #999;
  --link-key-border-color: #b4b4b4;

  --link-selector-input-font-size: 2em;
  --link-selector-input-color: blue;
  --link-selector-selected-item-background-color: blue;
  --link-selector-selected-item-text-color: #fff;
  --link-selector-hover-item-background-color: lightgray;
  --link-selector-hover-item-text-color: #000;
  --link-selector-image-background-color: #fff;

  --favicon-color: blue;

  --widget-title-color: #000;
  --widget-title-font-size: 0.875em;
  --widget-background-color: #fff;
  --widget-border-color: gray;
  --widget-border-radius: 6px;
  --widget-toolbar-icon-color: #000;

  --toolbar-icon-background-color: #ddd;
  --toolbar-icon-text-color: #333;

  --dialog-background-color: #fff;
  --dialog-border-color: #000;
  --dialog-backdrop-color: rgba(0, 0, 0, 0.3);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--app-backgrond-color);
}

.ml-wrapper {
  padding: 5px;
  margin: 5px;
}

.ml-widget-title {
  color: var(--widget-title-color);
  display: inline;
  flex-grow: 1;
  font-size: var(--widget-title-font-size);
  line-height: 34px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px 10px 10px;
}

.ml-widget-list {
  padding: 0 10px 10px 10px;
}

.ml-rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  margin: 5px 0;
  width: 100%;
}

.ml-widget ul {
  list-style-type: none;
  min-height: 23px;
  overflow-x: hidden;
  margin: 0;
}

.ml-widget li {
  margin-bottom: 2px;
}

.ml-columns {
  display: flex;
  flex-direction: row;
}

.ml-widget {
  flex: 1;
  border: 1px solid var(--widget-border-color);
  margin: 5px 10px;
  background-color: var(--widget-background-color, #ff0000);
  box-shadow: 8px 8px 6px var(--box-shadow-color1);
  border-radius: var(--widget-border-radius);
}

.ml-widget:hover .hover-toolbar {
  display: block;
}

.ml-widget:hover .ml-toolbar {
  display: block;
}

.ml-toolbar {
  float: right;
  line-height: 34px;
  cursor: pointer;
  display: none;
}

.ml-toolbar .icon {
  padding-right: 8px;
  color: var(--widget-toolbar-icon-color);
}

.ml-toolbar .icon:hover {
  animation-name: pulse;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  50% {
    transform: scale(0.8);
  }
}

.ml-widget a:focus {
  outline: 0;
  font-weight: bold;
}

/* Set max dimensions otherwise it has a very long height */
#files {
  max-width: 100%;
  max-height: 100%;
}

.collapsed .ml-widget-list {
  display: none;
}

.collapsed.collapsed-visible .ml-widget-list {
  display: block;
}

.collapsed-visible {
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.collapsed-visible .ml-widget-list-container {
  position: absolute;
  width: 100%;
  background-color: var(--widget-background-color);
  border-left: 1px solid var(--widget-border-color);
  border-right: 1px solid var(--widget-border-color);
  border-bottom: 1px solid var(--widget-border-color);
  left: -1px;
  box-shadow: 8px 8px 6px var(--box-shadow-color1);
  border-bottom-left-radius: var(--widget-border-radius);
  border-bottom-right-radius: var(--widget-border-radius);
}
