@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --font-xm: 0.75rem;
  --font-sm: 0.875rem;
  --font-xl: 1.25rem;
  --font-2xl: 2rem;

  --app-backgrond-color: #666;
  --box-shadow-color1: rgb(0 0 0 / 20%);
  --box-shadow-color2: rgb(255 255 255 / 70%);

  --app-danger-text-color: #f00;

  --link-label-color: #444;
  --link-key-background: #eee;
  --link-key-color: #333;
  --link-underline-color: #999;
  --link-key-border-color: #b4b4b4;

  --favicon-color: blue;

  --widget-title-color: #000;
  --widget-background-color: #fff;
  --widget-border-color: #808080;
  --widget-border-radius: 6px;
  --widget-toolbar-icon-color: #000;

  --toolbar-icon-background-color: #ddd;
  --toolbar-icon-text-color: #333;

  --dialog-background-color: #f6f0ed;
  --dialog-border-color: #000;
  --dialog-backdrop-color: rgb(0 0 0 / 30%);
  --dialog-primary-panel-background-color: #e9e4e0;

  --color-white: #fff;
  --color-black: #000;

  --action-color-primary: #577be7;
  --action-color-primary-60: rgb(66 133 244 / 60%);

  --action-color-secondary: #aaa;
  --action-color-secondary-60: rgb(160 160 160 / 60%);

  --action-color-success: #16a34a;
  --action-color-success-60: rgb(22 163 74 / 60%);

  --action-color-warn: #eab308;
  --action-color-warn-60: rgb(234 179 8 / 60%);
}

/* Form elements don't inherit font settings https://stackoverflow.com/a/26140154/195893 */
body, input, textarea, button {
  font-family: 'Open Sans', sans-serif;
}

body {
  color: var(--app-backgrond-color);
}

.ml-wrapper {
  padding: 5px;
  margin: 5px;
}

.text-white {
  color: var(--color-white);
}

.text-action-primary {
  color: var(--action-color-primary);
}

.text-action-secondary {
  color: var(--action-color-secondary);
}

.bg-action-primary {
  background-color: var(--action-color-primary);
}

.bg-action-secondary {
  background-color: var(--action-color-secondary);
}

.bg-action-success {
  background-color: var(--action-color-success);
}

.bg-action-warn {
  background-color: var(--action-color-warn);
}

.bg-white {
  background-color: var(--color-white);
}

.hover.bg-action-primary:hover:not(:disabled) {
  background-color: var(--action-color-primary-60);
}

.hover.bg-action-secondary:hover:not(:disabled) {
  background-color: var(--action-color-secondary-60);
}

.hover.bg-action-success:hover:not(:disabled) {
  background-color: var(--action-color-success-60);
}

.hover.bg-action-warn:hover:not(:disabled) {
  background-color: var(--action-color-warn-60);
}

.ml-rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  margin: 5px 0;
  width: 100%;
}

.ml-columns {
  display: flex;
  flex-direction: row;
}

@keyframes pulse {
  50% {
    transform: scale(0.8);
  }
}

/* Set max dimensions otherwise it has a very long height */
#files {
  max-width: 100%;
  max-height: 100%;
}

.input-file {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
