.ml-link-container .edit-actions {
  margin-right: 5px;
  cursor: pointer;
  color: var(--action-color);
  background-color: var(--action-background-color);
}

.ml-link-container:hover .edit-actions {
  font-weight: bold;
}

.ml-link-container:hover .edit-actions:hover {
  color: var(--action-hover-color);
  background-color: var(--action-hover-background-color);
}

