.link-icon-favicon {
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
  margin-right: 6px;
}

.link-icon-favicon img {
  max-width: 16px;
  max-height: 16px;
  min-width: 16px;
  min-height: 16px;
}

.link-icon-missing-favicon {
  width: 16px;
  height: 16px;
  max-width: 16px;
  max-height: 16px;
  min-width: 16px;
  min-height: 16px;
  border-radius: 50%;

  margin-right: 6px;

  display: grid;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  text-indent: 0;
  font-style: normal;
  font-weight: bold;
  line-height: 0;
}
