.reminder {
  background-color: var(--action-color-warn);
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

/**
 * The reminder is fixed at top, so we shift down the first sibling to be sure it's fully visible
 * The size correspond to the reminder height
 */
.reminder + * {
  margin: 40px auto;
}

.reminder .message {
  color: var(--color-white);
  margin-right: 5px;
}

.reminder .button {
  color: var(--color-white);
  background-color: var(--action-color-primary);
  cursor: pointer;
  border-style: none;
  padding: 5px;
  border-radius: 4px;
}
