.sticky-box {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

.sticky-box * {
  padding: 5px;
  display: flex;
  align-items: center;
}

.sticky-box .message {
  margin-right: 5px;
  color: var(--color-white);
}
