.settings-modal {
  display: flex;
  flex-direction: row;
}

.settings-modal form {
  margin-right: 10px;
}

.settings-primary-panel {
  padding: 5px 20px 20px 15px;
  border-radius: 5px 0 0 5px;
  background: var(--dialog-primary-panel-background-color);
}

.settings-primary-panel .title {
  font-size: 16px;
  text-transform: uppercase;
}

.settings-primary-panel .group a {
  text-decoration: none;
}

.settings-secondary-panel .title {
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px 20px 20px 15px;
}

.settings-primary-panel .group .title {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.4545;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: var(--app-backgrond-color);
  display: inline;
}

.settings-primary-panel .group a.selected .title {
  color: var(--action-color-primary);
}

.settings-primary-panel .group a.selected::before {
  background-color: var(--action-color-primary);
}

.settings-primary-panel .group a::before {
  content: '';
  background-color: #0000;
  width: 5px;
  height: 40px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 4px;
}

.settings-primary-panel .group {
  cursor: pointer;
}

.settings-secondary-panel {
  flex-grow: 1;
  border-radius: 0 5px 5px 0;
  padding-bottom: 10px;
}
