.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--dialog-backdrop-color);
  padding: 50px;
}

.modal-container {
  background-color: var(--dialog-background-color);
  border-radius: 5px;
  margin: 0 auto;
  max-width: 750px;
  height: fit-content;

  border: 1px solid var(--dialog-border-color);
}
