.standard-dialog {
  margin: 5px;
}

.standard-dialog .title {
  margin: 0;
  text-transform: uppercase;
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}
