.footer {
  border-top: 1px solid var(--action-color-secondary);
  padding-top: 10px;
  margin-top: 10px;
}

.footer .button-container {
  display: flex;
  flex-flow: row nowrap;
  place-content: space-between space-between;
  align-items: normal;
  width: 100%;
}

.footer .left-container {
  display: block;
  flex: 1 1 auto;
  align-self: auto;
  order: 0;
}

.footer .right-container {
  display: block;
  flex: 0 1 auto;
  align-self: auto;
  order: 0;
}
