.shortcut-details-container {
  display: flex;
  flex-flow: row nowrap;
  place-content: normal normal;
  align-items: center;
  padding-bottom: 5px;
}

.shortcut-details-item:nth-child(1) {
  flex: 1 1 auto;
  align-self: auto;
  order: 0;
}

.shortcut-details-item:nth-child(2) {
  flex: 0 1 auto;
  align-self: auto;
  order: 0;
  margin-right: 5px;
  text-indent: 0;
}
