#modal-shortcut-dialog .modal-container {
  max-width: 400px;
}

#modal-shortcut-dialog .shortcut-input-container {
  width: 100%;
}

#modal-shortcut-dialog .details {
  margin: 0;
}

#modal-shortcut-dialog .details.error {
  color: var(--detail-error-color);
  background-color: var(--detail-error-background-color);
  padding: 5px;
  border: 1px solid;
  margin-top: 2px;
}

#modal-shortcut-dialog .details.error .icon {
  margin-right: 4px;
}

#modal-shortcut-dialog .details .shortcut-details-container {
  padding-bottom: 5px;
}
